{% extends 'WaldoDemoMenuBundle::base.html.twig' %}

{% block body %}
Page Article
<p>
    <a href="{{ url('_article_commentaires', {idArticle:"loutre"}) }}">Voir les commentaires sur la reproduction des loutres en Loire-Atlantique</a>
</p>
{% endblock body %}