{% extends 'WaldoDemoMenuBundle::base.html.twig' %}

{% block body %}
<h1>Page Utilisateur Ajout/Édition</h1>
<p>
Regardez le BeadCrumn (en haut). Vous constatez bien qu'il affiche une entré qui ne fait pas partie du menu?<br />
C'est pas beau ça?
</p>
{% endblock body %}