{% extends 'WaldoDemoMenuBundle::base.html.twig' %}

{% block body %}
<h1>Page Utilisateurs</h1>
<p>
    <a href="{{ url('_utilisateur_ajouter') }}">Ajouter un utilisateur</a> <br />
    <a href="{{ url('_utilisateur_editer', {id:"waldo"}) }}">Éditer l'utilisateur "Waldo"</a>
</p>
{% endblock body %}