<!DOCTYPE HTML>
<html class="no-js" lang="fr">
    <head>
        <meta charset="utf-8" >
        <title>DemoMenuBundle</title>
    </head>
    <body>

        <div>
{{ knp_menu_render('WaldoDemoMenuBundle:Builder:menuPrincipal') }}
        </div>

        <div>
{% block body %}{% endblock body %}
        </div>
    </body>
</html>