<!DOCTYPE HTML>
<html class="no-js" lang="fr">
    <head>
        <meta charset="utf-8" >
        <title>DemoMenuBundle</title>
        {% stylesheets '@WaldoDemoMenuBundle/Resources/public/css/*' output='css/style.css' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}

    </head>
    <body>
        <div class="block">
            <h1>Breadcrumb</h1>
            <nav class="breadcrumb">
                {% block breadcrumb %}
                    {% spaceless %}
                        <nav class="breadcrumb">
                            {{ cnerta_breadcrumb_render('WaldoDemoMenuBundle:Builder:menuPrincipal') }}
                        </nav>
                    {% endspaceless %}
                {% endblock %}
            </nav>
        </div>

        <div class="block">
            <h1>Menu</h1>
            <nav class="menu">
                {{ knp_menu_render('WaldoDemoMenuBundle:Builder:menuPrincipal') }}
            </nav>
        </div>

        <div>
        {% block body %}{% endblock body %}
    </div>
</body>
</html>
